body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5em;
    color: #666;
    background-color: #fdfdfd;
}

.site-header {
    border-bottom: 1px solid #ddd;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 56px;
    width: 100%;
    z-index: 50;
    background-color: inherit;
}

.wrapper {
    max-width: -webkit-calc(800px - (50px * 2));
    max-width: calc(800px - (50px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.site-header .wrapper:before, .wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .page-link {
    line-height: 1.5em;
}

.site-nav .page-link:not(:first-child) {
    margin-left: 10px;
}

a {
    color: #666;
    text-decoration: none;
}


a:hover {
    color: #FF3636;
    text-decoration: none
}


.page-content {
    padding: 100px 0;
}

.header-bar {
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
}

.header-bar h1 {
    color: #FF3636;
    font-size: 75px;
    font-weight: 600;
}

.header-bar h2 {
    font-size: 25px;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post-header {
    margin-bottom: 40px;
}

.post-list {
    margin: 0px 0;
    list-style: none;
}

.post-list>li {
    margin-bottom: 40px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
}

.post-meta {
    font-size: 14px;
    color: #828282;
    margin-bottom: 0px;
}