html, body {
    height: 100%;
    margin: 0;
}

.markdown-body  {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;    
}

.markdown-body p,
.markdown-body pre, 
.markdown-body table, 
.markdown-body ul,
.markbody blockquote {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

.markdown-body h2 {
    font-size: 24px;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h3,
.markdown-body h4 {
    font-weight: 600;
}

.markdown-body h4 {
    font-size: 16px;
}

.markdown-body h5 {
    font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
    font-weight: 600;
}

.markdown-body h6 {
    font-size: 12px;
}

.markdown-body hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}

.markdown-body blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
  
.markdown-body blockquote>:first-child {
    margin-top: 0;
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-body a {
    color: #0366d6;
    text-decoration: none;
}

.markdown-body .inlincode {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

}
.markdown-body li+li {
    margin-top: .25em;
}

.markdown-body hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.markdown-body ol, 
.markdown-body ul {
    padding-left: 2em;
}